* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #507362;
    opacity: 1;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #507362 8px ), repeating-linear-gradient( #6140f155, #6140f1 );
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    

}

.container {
    padding: 2rem 5%;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    /* gap: 1.5rem; */
}

.card {
    background: floralwhite;
    padding: 15px 20px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0, 0, 5);
    /* display: flex;
    flex-wrap: wrap; */
}

.box:hover {
    background-color: #2059ec18 !important;
    cursor: pointer;
    border-top-left-radius: 100px;
border-bottom-right-radius: 50px;
border-bottom-left-radius: 10px;
border: 5px #5F9BD1 solid;
}
.box{
    border-top-left-radius: 100px;
border-bottom-right-radius: 50px;
border-bottom-left-radius: 10px;
border: 5px #5F9BD1 solid;
}
.new_reservation{
    text-align: left !important;
}
